<div style="text-align:center;">
	<h1>Hello {{name}},</h1>
	<h2>there is some message.</h2>
	<a href="#">
		<button style="background:#000;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;display: inline-block;font-size: 13px;padding: 0 12px;height: 35px;line-height: 35px;border:none;color:#fff;cursor:pointer;">
			Accept
		</button>
	</a>
	<a href="#">
		<button style="background:none;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;display: inline-block;font-size: 13px;padding: 0 12px;height: 35px;line-height: 35px;border:none;color:#000;cursor:pointer;">
			Decline
		</button>
	</a>
</div>